*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.spacing{
    border: 3px solid white;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
}
.header{
    background-color: pink;
    height: 30px;
    width:100%;
}
.body{
    display: flex;
    height: 100%;
}

.left{
    height: 100%;
    width: 60%;
}

.left-top{
    display: flex;
    height: 45%;
    width: 100%;
    background-color: aquamarine;
}

.left-bottom{
    display: flex;
    height: 55%;
    width: 100%;
}

.left-bottom-left{
    height: 50%;
    width:40%;
}

.left-bottom-left-top{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(163, 7, 7);
}
.left-bottom-left-bottom{
    display: flex;
    height: 100%;
    width: 100%;
    background-color:rgb(136, 66, 5);
}
.left-bottom-right{
    height: 100%;
    width: 60%;
    background-color:rgb(191, 72, 189);
}

.right{
    height: 100%;
    width: 45%;
}

.row1{
    display: flex;
    height: 20%;
    width:100%;
}

.row1-left{
    height: 100%;
    width: 80%;
    background-color: purple;
}

.row1-right{
    height: 100%;
    width: 20%;
    background-color: rgb(2, 47, 14);
}
.row2{
    height: 15%;
    width: 100%;
    background-color: yellow;
}
.row3{
    display: flex;
    height:50%;
    width:100%;
}
.row3-left{
    height:100%;
    width:30%;
    background-color:rgb(5, 134, 104)
}
.row3-middle{
    height:100%;
    width:40%;
    background-color:rgb(200, 14, 14)
}

.row4{
    height: 15%;
    width: 100%;
    background-color:rgb(188, 151, 104)
}

.footer{
    height: 50px;
    width: 100%;
    background-color: black;
}