img{
    width: 400px;
    height: 100%;
}
.GT{
    color:white;
    font-style: bold;
}
h2{
    color:blue
}
th{
    text-align: center;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th,tr,td{
    padding:20px;   
}
td{
    color:rgb(230, 10, 255);
}

table{
    width:100%;
    height: 10 px;
    background-image: url("/image/20220411_135859693_iOS.jpg");
    background-size: 400px;
}
.stt{
    text-align: center;
}
.ThongTin{
    background-color:greenyellow;
    color:blue;
}